<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<%= form_tag(movies_path, method: :get, id: 'ratings_form') do %>
  Include:
  <br />
  <table>
    <% @all_ratings.each do |rating| %>
      <tr>
        <td><%= rating %></td>
        <td><%= check_box_tag("ratings[#{rating}]", "1", rating.in?(@rating_filter_param||[])) %></td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag 'Refresh', class: 'btn btn-primary', id: 'ratings_submit'%>
<% end %>
<br />

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= 'hilite' if @sort_param == "title" %>">
        <%= link_to "Movie Title", movies_path(sort: "title", ratings: @rating_filter_param), id: 'title_header',
                    class: "#{'hlite text-danger' if @sort_param == 'title'}" %>
      </th>
      <th>Rating</th>
      <th class="<%= 'hilite' if @sort_param == "release_date" %>">
        <%= link_to "Release Date", movies_path(sort: "release_date",ratings: @rating_filter_param), id: 'release_date_header',
                    class: "#{'hlite text-danger' if @sort_param == 'release_date'}" %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>